{% render 'partials/head.liquid' %}

<article>
  <header>
    <h1>{{person.name}}</h1>
  </header>
  <img src="hai.png" alt="" width="160" height="160">
  <footer>
    <p>Mijn naam is Rapha, ik ben 22 jaar en woon in Amsterdam. <br> In mijn vrije tijd maak ik graag muziek, <br> en ga ik graag naar de kroeg met vrienden.</p>
    <p>Ik ben nog vrij onervaren met coderen, maar ik wil alles leren!</p></footer>
</article>

{% render 'partials/foot.liquid' %}
