* {
  box-sizing: border-box;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open, Helvetica, sans-serif;
  color: #ffffff;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  max-width: 30em;
  min-width: 20em;
  border-radius: 3rem;
  background: rgb(0, 0, 0);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin: 3rem;
  color: rgb(170, 255, 139);
  font-size: ;
}


svg {
  position: absolute;
  top: calc(5em - 12px);
  left: calc(5em - 12px);
  stroke: #4e54c8;
  transition-delay: .25s;
}


img {
  position: relative;
  top: 1rem;
  width: 15em;
  height: auto;
  border: 13px solid #fff;
  border-radius: 15em;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  margin: 1em;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  padding: 3rem 0 3rem;
  text-align: center;
  background: rgb(255,255,255);
}

dt {
  margin-top: .25rem;
  padding-top: .25rem;
  border-top: 1px solid rgb(0, 0, 0);
  font-weight: bold;
}
dt:nth-of-type(1) {
  grid-area: html-dt;
}
dt:nth-of-type(2) {
  grid-area: css-dt;
  transform: translateY(1rem);
}
dt:nth-of-type(3) {
  grid-area: js-dt;
}



p { 
  margin: 3em;
  font-size: 
}

article > p {
  width: 100%;
  margin-top: 0;
  padding: 5rem 4rem;
  border-radius: 0 0 5rem 5rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.749);
}

